.counterValue {
  list-style: none;
  border: 2px solid;
  background: #ffff99;
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  font-size: 50px;
  margin: 4px 2px;
}

.buttons {
  background-color: #99ffff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}

body {
  display: flex;
  margin: 0;
  background-color: #99ffff;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.increment {
  background-color: green;
  border: 2px solid double black;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.decrement {
  background-color: red;
  border: 2px solid double black;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.reset {
  background-color: goldenrod;
  border: 2px solid double black;
  border-radius: 15px;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h2 {
  text-align: center;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.negative {
  color: red;
  list-style: none;
  border: 5px solid;
  background: #ffff99;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 15px;
  padding: 15px 32px;
  font-size: 50px;
  margin: 4px 2px;
  text-align: center;
}

.positive {
  border: 5px solid;
  background: #ffff99;
  color: green;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 15px 32px;
  font-size: 50px;
  margin: 4px 2px;
  text-align: center;
}
.display {
  border: 5px solid;
  background: #ffff99;
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  font-size: 50px;
  margin: 4px 2px;
}
